body {
  background-color: black;
}

h3, a {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 2vw;
  margin-left: 2vw;
}

h3 {
  font-size: 6vw;
  color: whitesmoke;
  font-weight: bolder;
}

a {
  font-size: 5vw;
  color: aqua;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}