:root {
  --scale: 6vw;
  font-weight: normal;
}
@media (max-aspect-ratio: 1/1) {
  :root {
    --scale: 5vh;
  }
}

html, body {
  background-color: black;
  margin: 1em 0 0 1.5em;
  padding: 0;
}

p, a {
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(var(--scale)*0.7);
  white-space: pre;
}

p {
  color: whitesmoke;
}

a {
  color: aqua;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}