<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!-- <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1> -->

        <h2>Tomo</h2>
        
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <p class="view"><a href="{{ site.github.owner_url }}">Código</a></p>
        
        <p class="view"><a href="https://www.deviantart.com/tomobossi">Visual</a></p>

        <!-- <p class="view"><a href="https://open.spotify.com/playlist/2YvcU4kgVHhFSQSmbO6cUS">Playlist</a></p> -->
      </header>
      <section>
      {{ content }}
      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
